# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile

# renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# OS
.DS_Store
Thumbs.db

# Session temp
*.log
